<footer id="footer">
  <nav class="menu" id="legal-menu">
    <ul>
      {{- range site.Menus.legal }}
      <li>
        <a {{ with .Params.class -}} class="{{ . }}" {{ end -}} href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>
  <nav class="menu" id="protocol-menu">
    <ul>
      {{- range site.Menus.protocol }}
      <li>
        <a {{ with .Params.class -}} class="{{ . }}" {{ end -}} href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>
</footer>
