{{ define "main" }}
  <article>
    <hgroup>
      <h1>{{ .Title }}</h1>
      {{/* .Summary */}}
    </hgroup>
    {{ .Content }}
    <nav>
      <ul>
      {{ range .Pages }}
        <li>
          <article class="post">
            <a href="{{ .Permalink }}">{{ .Title }}
            <time class="postdate" datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
            </a>
          </article>
        </li>
      {{ end }}
      </ul>
    </nav>
  </article>
{{ end }}
