{{ define "main" }}
<hgroup>
  <h1>{{ .Title }}</h1>
  {{ if .Params.subtitle -}}
    <p id="subtitle"><i>{{ .Params.subtitle }}</i></p>
  {{- end }}
</hgroup>
{{ if .Params.includeToc }}
<section id="toc-wrapper">
  <h2>Table of Contents</h2>
  {{ .TableOfContents }}
</section>
<hr>
{{ end }}
{{ with .Params.tldr }}
<article id="tldr">
  <h2>tl;dr</h2>
  {{ . }}
</article>
{{ end }}
<article>
  {{ with .Params.topic}}
  <section id="topic">
    <h2>Topic</h2>
    {{ . }}
  </sectoin>
  {{ end }}
  {{ with .Params.description}}
  <section id="description">
    <h2>Description</h2>
    {{ . }}
  </section>
  {{ end }}
  {{ .Content }}
</article>
{{ end }}
