{{ define "main" }}
<hgroup>
  <h1>{{ .Title }}</h1>
  {{ if .Params.subtitle -}}
    <p id="subtitle"><i>{{ .Params.subtitle }}</i></p>
  {{- end }}
  <p id="publishdate">Published: {{ .PublishDate.Format "2. Jan 2006 15:04 Uhr" }}</p>
  <p id="updatedate">Last Updated: {{ .Lastmod.Format "2. Jan 2006 15:04 Uhr" }}</p>
</hgroup>
{{ if .Params.includeToc }}
<section id="toc-wrapper">
  <h2>Table of Contents</h2>
  {{ .TableOfContents }}
</section>
{{ end }}
{{ with .Params.tldr }}
<section id="tldr">
  <h2>TL;DR</h2>
  {{ . | markdownify }}
</section>
{{ end }}
<article>
  {{ .Content }}
</article>
{{ end }}
