{{ define "main" }}
  <article>
    <hgroup>
      <h1>{{ .Title }}</h1>
      {{/* .Summary */}}
    </hgroup>
    {{ .Content }}
    {{ range .Pages.GroupByParam "modules" }}
    <section class="module">
      <h2>{{ .Key }}</h2>
      <nav>
        <ul>
        {{ range .Pages.ByPublishDate.Reverse }}
          <li>
            <article class="post">
              <a href="{{ .Permalink }}">{{ .Title }}
              <time class="postdate" datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
              </a>
            </article>
          </li>
        {{ end }}
        </ul>
      </nav>
    </section>
    {{ end }}
  </article>
{{ end }}
