{{ define "main" }}
  <article>
    <hgroup>
      <h1>{{ .Title }}</h1>
      {{/* .Summary */}}
    </hgroup>
    {{ .Content }}
    {{ range .Pages.GroupByParam "modules" }}
    <section class="module">
      <h2>{{ .Key }}</h2>
      <ul>
      {{ range .Pages }}
        <nav>
          <li>
            <time datetime="{{ .PublishDate.Format "2006-02-01" }}">{{ .PublishDate.Format "2006-02-01" }}</time>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        </nav>
      {{ end }}
      </ul>
    </section>
    {{ end }}
  </article>
{{ end }}
