:root {
  --bg-color: #FCFCFC;
  --fg-color: #121212;
  --accent-blue: #258CD0;
  --accent-violet: #7E5EAB;
}

body {
  margin: auto;
  padding: 1em;
  width: 48rem;
  line-height: 1.6;
  font-family: system-ui;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }

a{color: var(--accent-blue);}
a:visited {color: var(--accent-violet);}

th, td {
  padding: 0 18px;
  border-bottom: 1px solid var(--fg-color);
}

#subtitle {text-align: center;}
#description, #tldr, #toc-wrapper {
  border-left:2px solid var(--accent-blue);
  padding-left:2em;
}
.postdate {float: right;}
.legal li, .social li {
  display: inline;
  padding-left: 12px;
  float: right;
  margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0d0d0d;
    --fg-color: #F5F6F4;
  }
}
