:root {
  --bg-color: #FCFCFC;
  --fg-color: #121212;
  --accent-blue: #258CD0;
  --accent-violet: #7E5EAB;
}

body {
  margin: auto;
  padding: 1em;
  max-width: 40rem;
  line-height: 1.6;
  font-family: sans-serif;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

a,a:visited{color: var(--fg-color);}
a:hover{color: var(--accent-blue);}

th, td {
  padding: 0 18px;
  border-bottom: 1px solid var(--fg-color);
}

.postdate{float: right;color: grey;}
.legal li{display: inline; padding-left: 12px; float: right;}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e1e;
    --fg-color: #F5F6F4;
  }
}
