body {
  margin: auto;
  max-width: 680px;
  line-height: 1.6;
  overflow-wrap: break-word;
  font-family: sans-serif;
}

a,a:visited {color: black;}
h1{margin-bottom: 0;}
h2,h3{margin-top: 2em;}

.menu{text-align: right;}
.menu li {
  display: inline;
  list-style-type:none;
  padding: 4px;
}

th, td {
  padding: 0 18px;
  border-bottom: 1px solid black;
}


/* Dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
  a,a:visited {color: white;}
  th, td {border-bottom: 1px solid white;}
}
