<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Title }}" property="og:site_name">
  <meta content="{{ .Description }}" name="description" property="og:description">
  <meta name="keywords" content="{{ with .Params.keywords }}{{ delimit . ", "}}{{ end }}" />
  <meta content="website" property="og:type">
  {{ $css := resources.Get "style.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  <title>{{ block "title" . }}{{- partial "title.html" . -}}{{ end }}</title>
  {{ if .Params.includeKaTeX }}{{ partial "katex.html" . }}{{ end }}
  {{ with .OutputFormats.Get "rss" -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}{{ end -}}
</head>
