<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="https://www.les.cx" property=og:url>
  <meta content="{{ .Site.Title }}" property=og:site_name>
  <meta content="{{ .Description }}" name=description>
  <meta content="{{ .Description }}" property=og:description>
  <meta content=website property=og:type>
  <link href="https://www.les.cx" rel=canonical>
  {{ $css := resources.Get "style.css" | resources.Minify | resources.Fingerprint }}
  <link rel="preload" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" as="style">
  <title>{{ block "title" . }}{{- partial "title.html" . -}}{{ end }}</title>
  {{ if .Params.includeKaTeX }}{{ partial "katex.html" . }}{{ end }}
  {{ with .OutputFormats.Get "rss" -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}{{ end -}}
  <link rel="stylesheet" href="style.css" />
</head>
