body {
  padding: 0 10px;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;

  h1,h2,h3,h4{line-height:1.2;}
}

.menu{text-align: right;}
.menu li {
  display: inline;
  list-style-type:none;
  padding: 4px;
}

a {
  color: #2274A5;
  text-decoration: none;
}
a:visited{color:#E83F6F;}
