#grid-wrapper {
  display: grid;
  grid-template-areas:
    ". header ."
    "meta post annot"
    ". footer .";
  grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 768px) {
  #grid-wrapper {
    grid-template-areas:
      "header"
      "meta"
      "post"
      "annot"
      "footer";
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #grid-wrapper {
    grid-template-areas:
      "header header"
      "meta meta"
      "post annot"
      "footer footer";
    grid-template-columns: 3fr 1fr;
  }
}

#header {grid-area: header;}
#meta {grid-area: meta;}
#post {grid-area: post;}
#annot {grid-area: annot;}
#footer {grid-area: footer;}

