body { 
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
}

.menu > ul > li {
  list-style-type: none;
}

h1, h2, h3 {
  line-height: 1.2
}

/* ----------------- */

#grid-wrapper {
  display: grid;
  grid-template-areas:
    ". header ."
    "meta main annot"
    ". footer .";
}

#site-header {
  grid-area: header;
}

#site-main {
  grid-area: main;
}

#site-footer {
  grid-area: footer;
}
